<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>The choice to produce beds and Pilates accessories came from close acquaintance with the Pilates method, belief in its many advantages and abilities, and love for the product.
                Our company emphasizes products quality. We believe that the most significant part, Which produces good and significant results, exists in device quality. 
                Therefore, we make sure that  the product will be  very comfortable, made from strong and durable materials  </p>
            </div>
            <div class="col-lg-4">
                <p>with a sleek and smooth finish, and strong upholstery where a padding is required, and a slider that allows fast movement on the one hand but very stable on the other. All mechanical parts are strong, durable and aesthetic.
                Since springs of poor quality may cause bodily injury, we make sure to manufacture springs that are accurate in their force, with excellent adjustment and fit space, safe and durable for a long time, Ensuring proper and smooth operation.</p>
            </div>
            
        </div>
    </div>
</section>


